.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 400ms all;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 16px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scale: 0;
    transition: 400ms all;
    &.active {
      scale: 1;
    }
  }

  .modal-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
  }

  .modal-body {
    background-color: chartreuse;
    padding: 15px;
  }

  .modal-footer {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
  }
}
